<h1>
Welcome to the Draft
</h1>

<div ng-controller='tabController'>
   <ul class="nav nav-pills nav-justified">
      <li ng-class="{active: isSet(1)}">
         <a ng-click="setTab(1)">Quarterbacks</a>
      </li>
      <li ng-class="{active: isSet(2)}">
         <a ng-click="setTab(2)">Running Backs</a>
      </li>
      <li ng-class="{active: isSet(3)}">
         <a ng-click="setTab(3)">Wide Receivers</a>
      </li>
      <li ng-class="{active: isSet(4)}">
         <a ng-click="setTab(4)">Tight Ends</a>
      </li>
   </ul>
</div>

