<h1 style="margin-left:2%;">
Welcome to the Draft
</h1>
<div class="wrap">
   <div class="floatleft" ng-controller='tabController'>
      <div>
         <ul class="nav nav-tabs">
            <li ng-class="{active: isSet(1), turn: isOwnerTurn()}">
               <a ng-click="setTab(1)">{{ownerTeam.name}}</a>
            </li>
            <li ng-class="{active: isSet(2), turn: isGuestTurn()}">
               <a ng-click="setTab(2)">{{guestTeam.name}}</a>
            </li>
         </ul>
      </div>
      <div ng-show="isSet(1)">
         <table class="table table-striped">
            <thead>
               <th>First Name</th>
               <th>Last Name</th>
               <th>Position</th>
            </thead>
            <tbody>
               <tr ng-repeat="p in ownerTeam.players">
                  <td>{{p.fname}}</td>
                  <td>{{p.lname}}</td>
                  <td>{{p.pos1}}</td>
            </tbody>
         </table>
      </div>
      <div ng-show="isSet(2)">
         <table class="table table-striped">
            <thead>
               <th>First Name</th>
               <th>Last Name</th>
               <th>Position</th>
            </thead>
            <tbody>
               <tr ng-repeat="p in guestTeam.players">
                  <td>{{p.fname}}</td>
                  <td>{{p.lname}}</td>
                  <td>{{p.pos1}}</td>
            </tbody>
         </table>
      </div>
      <div ng-if="isDraftComplete()">
         <h3> This draft is complete! </h3>
      </div>
   </div>

   <div class="floatright" ng-controller='tabController'>
      <div>
         <ul class="nav nav-pills nav-justified">
            <li ng-class="{active: isSet(1)}">
               <a ng-click="setTab(1)">Quarterbacks</a>
            </li>
            <li ng-class="{active: isSet(2)}">
               <a ng-click="setTab(2)">Running Backs</a>
            </li>
            <li ng-class="{active: isSet(3)}">
               <a ng-click="setTab(3)">Wide Receivers</a>
            </li>
            <li ng-class="{active: isSet(4)}">
               <a ng-click="setTab(4)">Tight Ends</a>
            </li>
         </ul>
      </div>
      <div ng-show="isSet(1)">
         <table class="table table-striped">
            <thead>
               <th>First Name</th>
               <th>Last Name</th>
               <th>Height (in)</th>
               <th>Weight (lb)</th>
               <th>NFL Team</th>
            </thead>
            <tbody>
               <tr ng-repeat="qb in qbs" ng-click="addPlayer(qb)">
                  <td>{{qb.fname}}</td>
                  <td>{{qb.lname}}</td>
                  <td>{{qb.height}}</td>
                  <td>{{qb.weight}}</td>
                  <td>{{qb.team | nflTeam}}</td>
            </tbody>
         </table>
      </div>
      <div ng-show="isSet(2)">
         <table class="table table-striped">
            <thead>
               <th>First Name</th>
               <th>Last Name</th>
               <th>Height (in)</th>
               <th>Weight (lb)</th>
               <th>NFL Team</th>
            </thead>
            <tbody>
               <tr ng-repeat="rb in rbs" ng-click="addPlayer(rb)">
                  <td>{{rb.fname}}</td>
                  <td>{{rb.lname}}</td>
                  <td>{{rb.height}}</td>
                  <td>{{rb.weight}}</td>
                  <td>{{rb.team | nflTeam}}</td>
            </tbody>
         </table>
      </div>
      <div ng-show="isSet(3)">
         <table class="table table-striped">
            <thead>
               <th>First Name</th>
               <th>Last Name</th>
               <th>Height (in)</th>
               <th>Weight (lb)</th>
               <th>NFL Team</th>
            </thead>
            <tbody>
               <tr ng-repeat="wr in wrs" ng-click="addPlayer(wr)">
                  <td>{{wr.fname}}</td>
                  <td>{{wr.lname}}</td>
                  <td>{{wr.height}}</td>
                  <td>{{wr.weight}}</td>
                  <td>{{wr.team | nflTeam}}</td>
            </tbody>
         </table>
      </div>
      <div ng-show="isSet(4)">
         <table class="table table-striped">
            <thead>
               <th>First Name</th>
               <th>Last Name</th>
               <th>Height (in)</th>
               <th>Weight (lb)</th>
               <th>NFL Team</th>
            </thead>
            <tbody>
               <tr ng-repeat="te in tes" ng-click="addPlayer(te)">
                  <td>{{te.fname}}</td>
                  <td>{{te.lname}}</td>
                  <td>{{te.height}}</td>
                  <td>{{te.weight}}</td>
                  <td>{{te.team | nflTeam}}</td>
            </tbody>
         </table>
      </div>
   </div>
</div>
