<div class="modal-header">
   <h3 class="modal-title">{{dlgTitle}}</h3>
</div>
<div class="modal-body">
   <form>
      <fieldset class="form-group">
         <label>Lobby Name</label>
         <input type="text" class="form-control" placeholder="Name"
          ng-model="name">
      </fieldset>
   </form>
</div>
<div class="modal-footer">
   <button type="button" class="btn btn-success" ng-disabled="!name"
    ng-click="$close(title)">OK</button>
   <button type="button" class="btn btn-warning" ng-click="$dismiss()">
    Cancel</button>
</div>
